/* span{
    color: red;
}

a{
    background-color: green;
} */

p {
  color: blue;
}

h1 {
  background-color: purple;
}

h6 {
  background-color: yellow;
}

ul {
  color: red;
}

ol {
  color: orange;
}

a {
  background-color: green;
}

button {
  background-color: orange;
}

span {
  color: red;
}
